@model Demo.Models.Cart

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<div>
    <h4>Cart</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserId)
        </dd>
    </dl>
</div>
<div>
    <table class="table">
        <thead>
            <tr>
                <th>نام کالا</th>
                <th>تعداد</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.CartLines)
            {
                <tr>
                    <td>@item.Qunatity</td>
                    <td>@item.ProductName</td>
                    <td><a class="btn btn-danger">Delete</a></td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
